spring:
  application:
    name: AhorroPlusIA

  datasource:
    url: jdbc:postgresql://localhost:5432/ahorroplusia
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  profiles:
    active: dev

server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  file:
    name: logs/app.log

jwt:
  secret: verySecretKeyChangeMeToEnvVar12345
  expirationMs: 86400000
