spring:
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5432/ahorroplusia
    username: postgres
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        cache.use_second_level_cache: false
        cache.use_query_cache: false
    show-sql: true
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expirationMs: 86400000

gemini:
  api-key: ${GEMINI_API_KEY}

app:
  verification:
    url: ${APP_VERIFICATION_URL:http://localhost:8080/api/v1/auth/verify}
