spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ahorroplusia
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

server:
  port: 8080


jwt:
  secret: defaultSecretKey1222211112121223
  expirationMs: 86400000

gemini:
  api-key: AIzaSyDed7UPQvPe0yZxentZOZqpxIGELfaHm5s
